/* General Styling */
body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
  }
  
  /*Header and Footer Styling*/
  #ou-segment-header {
    background-color: #841617;
    width: auto;
    height: 20px;
  }

  #ou-segment-footer {
    background-color: #841617;
    width: auto;
    margin-top: 10px;
    height: 150px;
  }

  #ou-logo {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    padding-top: 10px;
  }
/**/
  h1 {
    text-align: center;
    color: #333;
  }
  
  h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-top: 20px;
  }
  
  /* Table Styling */
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Styling for images */
  img {
    display: block;
    margin: 10px auto; /* Centers the image */
    max-width: 100%; /* Keeps images responsive */
    height: auto; /* Preserves aspect ratio */
  }
  

  /* Chart Section */
  #charts {
    margin-top: 20px;
  }

  /*References Section*/
  .reference {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  